<h2>Sélectionnez un produit existant ou créez en un :</h2>


<% fabricants = ['Natuzzi', 'Nicoletti Home', 'Devina Nais', 'Corium'] %>

<%= simple_form_for [ @produit.devi, @produit] do |f| %>

  <%= f.input :fabricant, label: 'Fabricant', collection: ['Natuzzi', 'Nicoletti Home', 'Devina Nais', 'Corium'] %>
  <%= f.input :name, label: 'Nom' %>
  <%= f.input :element, label:'Element' %>
  <%= f.input :category, label:'Categorie' %>
  <%= f.input :revetement, label:'Revetement' %>
  <%= f.input :price, label:'Prix' %>
  <%= f.input :width, label:'Largeur' %>
  <%= f.input :height, label:'Hauteur' %>
  <%= f.input :deep, label:'Profondeur' %>
  <%= f.submit 'Valider' %>


<% end %>

