<p id="notice"><%= notice %></p>

<p>
  <b>Fabricant:</b>
  <%= @produit.fabricant %>
</p>

<p>
  <b>Nom:</b>
  <%= @produit.name %>
</p>

<p>
  <b>Élement:</b>
  <%= @produit.element %>
</p>

<p>
  <b>Categorie:</b>
  <%= @produit.category %>
</p>

<p>
  <b>Revêtement:</b>
  <%= @produit.revetement %>
</p>

<p>
  <b>Prix:</b>
  <%= @produit.price %>
</p>

<p>
  <b>Largeur:</b>
  <%= @produit.width %>
</p>
<p>

  <b>Hauteur:</b>
  <%= @produit.height %>
</p>


<p>
  <b>Profondeur:</b>
  <%= @produit.deep %>
</p>


<%= link_to 'Modifier', edit_devi_produit_path(@produit.devi, @produit) %> |
<%= link_to 'Retour', devi_produits_path(@produit.devi) %>
