<%= form_with(model: devi, local: true) do |form| %>
  <% if devi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(devi.errors.count, "error") %> prohibited this devi from being saved:</h2>

      <ul>
        <% devi.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :decorateur %>
    <%= form.text_field :decorateur %>
  </div>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom %>
  </div>

  <div class="field">
    <%= form.label :prenom %>
    <%= form.text_field :prenom %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.text_field :telephone %>
  </div>

  <div class="field">
    <%= form.label :adresse %>
    <%= form.text_field :adresse %>
  </div>

  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
