
<%= button_to "Se déconnecter", destroy_user_session_path, method: :delete  %>

<div class="card">
  <div class="card-header">
    <h1 class='card-title d-flex justify-content-between mb-4'>
      <span>Tous nos devis :</span>
      <%= link_to 'Nouveau devis', new_devi_path, class: 'btn btn-primary' %>
    </h1>
  </div>
  <div class="card-body">
    <table>
      <thead>
        <tr>
          <th>Decorateur</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Adresse</th>
          <th>Numero</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @devis.each do |devi| %>
          <tr>
            <td><%= devi.decorateur %></td>
            <td><%= devi.nom %></td>
            <td><%= devi.prenom %></td>
            <td><%= devi.email %></td>
            <td><%= devi.telephone %></td>
            <td><%= devi.adresse %></td>
            <td><%= devi.numero %></td>
            <td><%= link_to 'Détail', devi %></td>
            <td><%= link_to 'Modifier', edit_devi_path(devi) %></td>
            <td><%= link_to 'Supprimer', devi, method: :delete, data: { confirm: 'Dernier mot?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>



